.input-view {
    background-color: #d7d7dc;
    bottom: 0;
    width: 100%;
    height: 12vh;
    border-bottom-left-radius: 4.3vh;
    border-bottom-right-radius: 4.3vh;
    z-index: 8;
    overflow: hidden;
}
